@import "../variables";

.install {
    background-color: #1d2631;
    width: 320px;
    margin: 0 auto;
    color: #ffffff;
}

.install__button {
  padding-top: 28px;
}

.install__button a {
  text-decoration: none;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 27px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  padding: 11px 35px 11px 35px;
}

.install__logo-list {
  display: flex;
  width: 280px;
  list-style: none;
}

.install__logo-item {
  width: 93px;
}

.install__description {
  font-size: 14px;
  line-height: 24px;
}
